<div style="background-color: aliceblue" class="conteiner">
  <h1 matDialogTitle>Regras</h1>

<mat-dialog-content>
  <div class="row">
    <p>O jogo consiste em descobri os nomes dos personagens da Franquia StarWars.</p>
    <p>O jogador terá 2 minutos para descobrir o nome dos personagens o maximo que puder.</p>
    <p>Para cada nome descoberto sem dica ganha 10 pontos.</p>
    <p>Com diga 5 pontos.</p>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
    <button class="waves-effect waves-light grey darken-3 btn" mat-button matDialogClose><i class="material-icons">clear</i></button>

</mat-dialog-actions>
</div>

